In [3]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50
import matplotlib.pyplot as pyplot
%matplotlib inline
import seaborn as sns
import sklearn

## Load in `.csv` file

In [4]:
df = pd.read_csv('data/extracted/crime-data-from-2010-to-present.csv')

In [5]:
df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."

In [6]:
df.shape

(1993259, 26)

## Converting `date occured` to time series index

In [7]:
# removing empty time stamp from Date Reported and Date Ocurred
df["Date Reported"] = df["Date Reported"].str.replace('T00:00:00', '')
df["Date Occurred"] = df["Date Occurred"].str.replace('T00:00:00', '')

In [8]:
# setting 'date occured' column as datetime object
df['Date Occurred'] = pd.to_datetime(df['Date Occurred'], format= '%Y-%m-%d')

In [9]:
df = df.set_index('Date Occurred').sort_index()

In [10]:
# checking that it all worked
df.head(3)

,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
Date Occurred,,,,,,,,,,,,,,,,,,,,,,,,,
2010-01-01,102120693,2010-11-17,1117,21,Topanga,2156,354,THEFT OF IDENTITY,0928 1822,21,M,H,404.0,DEPARTMENT STORE,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,21800 VICTORY BL,NaN,"{'latitude': '34.1875', 'needs_recoding': Fals..."
2010-01-01,100504041,2010-01-02,2130,5,Harbor,563,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,0,NaN,NaN,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,900 W 8TH ST,NaN,"{'latitude': '33.737', 'needs_recoding': False..."
2010-01-01,100504042,2010-01-02,1600,5,Harbor,519,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1400 E O ST,NaN,"{'latitude': '33.7926', 'needs_recoding': Fals..."

## Data Cleaning
Now that we have the dataframe converted to a format for time series analysis, we can do basic data cleaning steps.

In [11]:
# checking for null values
df.isna().sum()

DR Number                       0
Date Reported                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description          0
MO Codes                   215872
Victim Age                      0
Victim Sex                 185960
Victim Descent             186006
Premise Code                   50
Premise Description           135
Weapon Used Code          1325641
Weapon Description        1325642
Status Code                     3
Status Description              0
Crime Code 1                    9
Crime Code 2              1863098
Crime Code 3              1990024
Crime Code 4              1993163
Address                         0
Cross Street              1659507
Location                        0
dtype: int64

In [12]:
# dropping columns with a majority of missing values
df = df.drop(axis=1, columns=['MO Codes', 
                              'Weapon Used Code', 
                              'Weapon Description', 
                              'Crime Code 1',
                              'Crime Code 2', 
                              'Crime Code 3', 
                              'Crime Code 4', 
                              'Cross Street'])

In [13]:
demo_features = ['Victim Age', 'Victim Sex', 'Victim Descent']

In [14]:
df.isna().sum()

DR Number                      0
Date Reported                  0
Time Occurred                  0
Area ID                        0
Area Name                      0
Reporting District             0
Crime Code                     0
Crime Code Description         0
Victim Age                     0
Victim Sex                185960
Victim Descent            186006
Premise Code                  50
Premise Description          135
Status Code                    3
Status Description             0
Address                        0
Location                       0
dtype: int64

In [15]:
# now we just have to deal with the remaining null values...

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1993259 entries, 2010-01-01 to 2019-06-22
Data columns (total 17 columns):
DR Number                 int64
Date Reported             object
Time Occurred             int64
Area ID                   int64
Area Name                 object
Reporting District        int64
Crime Code                int64
Crime Code Description    object
Victim Age                int64
Victim Sex                object
Victim Descent            object
Premise Code              float64
Premise Description       object
Status Code               object
Status Description        object
Address                   object
Location                  object
dtypes: float64(1), int64(6), object(10)
memory usage: 273.7+ MB

In [17]:
# df['Date Reported'] = pd.to_datetime(df['Date Reported'], format= '%Y-%m-%d')
df.loc[df['Date Reported'] == '1022019-01-01']

,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Status Code,Status Description,Address,Location
Date Occurred,,,,,,,,,,,,,,,,,
2019-01-01,191404135,1022019-01-01,2130,14,Pacific,1469,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),35,F,B,707.0,GARAGE/CARPORT,IC,Invest Cont,7100 FLIGHT AV,"{'latitude': '33.9746', 'needs_recoding': Fals..."
2019-01-01,191404070,1022019-01-01,2000,14,Pacific,1446,510,VEHICLE - STOLEN,0,NaN,NaN,101.0,STREET,JA,Juv Arrest,4100 GRAND VIEW BL,"{'latitude': '33.9989', 'needs_recoding': Fals..."
2019-01-01,191404074,1022019-01-01,2330,14,Pacific,1468,890,FAILURE TO YIELD,0,M,W,101.0,STREET,JA,Juv Arrest,BRADDOCK,"{'latitude': '33.9949', 'needs_recoding': Fals..."
2019-01-01,191404075,1022019-01-01,1700,14,Pacific,1455,624,BATTERY - SIMPLE ASSAULT,53,F,H,501.0,SINGLE FAMILY DWELLING,AA,Adult Arrest,4300 KENYON AV,"{'latitude': '33.9923', 'needs_recoding': Fals..."
2019-01-01,191404078,1022019-01-01,1345,14,Pacific,1469,440,THEFT PLAIN - PETTY ($950 & UNDER),24,F,B,108.0,PARKING LOT,IC,Invest Cont,6700 LA TIJERA BL,"{'latitude': '33.9787', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-02,190104135,1022019-01-01,1800,1,Central,143,440,THEFT PLAIN - PETTY ($950 & UNDER),20,M,H,203.0,OTHER BUSINESS,IC,Invest Cont,400 S BROADWAY,"{'latitude': '34.0495', 'needs_recoding': Fals..."
2019-01-02,190104122,1022019-01-01,1100,1,Central,157,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,40,F,B,102.0,SIDEWALK,AO,Adult Other,5TH,"{'latitude': '34.0426', 'needs_recoding': Fals..."
2019-01-02,190104137,1022019-01-01,1630,1,Central,161,350,"THEFT, PERSON",24,M,O,406.0,OTHER STORE,IC,Invest Cont,700 S FIGUEROA ST,"{'latitude': '34.0483', 'needs_recoding': Fals..."
2019-01-02,190304135,1022019-01-01,1950,3,Southwest,378,350,"THEFT, PERSON",20,M,H,945.0,MTA - EXPO LINE - EXPO/VERMONT,IC,Invest Cont,MARTIN LUTHER KING JR BL,"{'latitude': '34.0109', 'needs_recoding': Fals..."
2019-01-02,190204118,1022019-01-01,1230,2,Rampart,236,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",27,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",AO,Adult Other,100 S BURLINGTON AV,"{'latitude': '34.065', 'needs_recoding': False..."

In [86]:
# checking for all values that are ***2019-01-01
unknown = []
for i in range(len(df['Date Reported'])): 
    if len(df['Date Reported'][i])==13:
        unknown.append(df['Date Reported'][i])
len(unknown)

array(['2010-11-17', '2010-01-02', '2010-01-01', ..., '5272019-01-01',
       '6092019-01-01', '6022019-01-01'], dtype=object)

In [32]:
#replacing all ***2019-01-01 with 2019-01-01
for i in range(len(df['Date Reported'])): 
    if len(df['Date Reported'][i])==13:
        df['Date Reported'] = '2019-01-01'

In [33]:
#converting date reported variable to datetime format
df['Date Reported'] = pd.to_datetime(df['Date Reported'], format= '%Y-%m-%d')

## EDA

Essentially the variables can be grouped to 
* When the crime occurred - given by date and time
* When the crime was reported - Date
* what was the crime - crime code and crime description
* Who was the victim - Victim sex, age and descent
* What weapon was involved - weapon code and description
* Where the crime took place - given by location, address, cross street, premise code and description

In [ ]:
df