In [8]:
import pandas as pd
import pickle

In [5]:
# Loading pickled cleaned df
clean_df = pd.read_pickle('data/pickled/cleaned_df.pkl')

In [6]:
clean_df.head()

,Area ID,Reporting District,Crime Code,Victim Age,Victim Sex,Victim Descent,Premise Code,Status Code,latitude,longitude
Date Occurred,,,,,,,,,,
2010-01-01,21,2156,354,21,M,H,404.0,IC,34.1875,-118.603
2010-01-01,5,563,420,0,X,X,104.0,IC,33.737,-118.2967
2010-01-01,5,519,510,0,X,X,101.0,IC,33.7926,-118.2468
2010-01-01,5,506,330,49,M,H,501.0,IC,33.8325,-118.3039
2010-01-01,5,503,624,52,F,H,101.0,AO,33.7909,-118.296

In [14]:
pickle_in = open("status_dict","rb")
status_dict1 = pickle.load(pickle_in)

EOFError: Ran out of input

In [12]:
status_dict

'status_dict'

In [15]:
status_dict = pickle.load( open( "status_dict.p", "rb" ) )

In [16]:
status_dict

{'IC': 'Invest Cont',
 'AO': 'Adult Other',
 'AA': 'Adult Arrest',
 'JA': 'Juv Arrest',
 'JO': 'Juv Other',
 'UNK': 'UNK'}