In [4]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50
import matplotlib.pyplot as pyplot
%matplotlib inline
import seaborn as sns

## load in cleaned pickled dataframe

In [5]:
clean_df = pd.read_pickle('data/pickled/cleaned_df.pkl')

In [6]:
clean_df.head()

,Area ID,Reporting District,Crime Code,Victim Age,Victim Sex,Victim Descent,Premise Code,Status Code,latitude,longitude
Date Occurred,,,,,,,,,,
2010-01-01,21,2156,354,21,M,H,404.0,IC,34.1875,-118.603
2010-01-01,5,563,420,0,X,X,104.0,IC,33.737,-118.2967
2010-01-01,5,519,510,0,X,X,101.0,IC,33.7926,-118.2468
2010-01-01,5,506,330,49,M,H,501.0,IC,33.8325,-118.3039
2010-01-01,5,503,624,52,F,H,101.0,AO,33.7909,-118.296