In [35]:
import folium
import pandas as pd

In [36]:
df = pd.read_pickle('data/pickled/cleaned_df.pkl')

In [37]:
df.head(2)

,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Status Code,Status Description,latitude,longitude
Date Occurred,,,,,,,,,,,,,,,
2010-01-01,1117,21,Topanga,2156,354,THEFT OF IDENTITY,21,M,H,404.0,DEPARTMENT STORE,IC,Invest Cont,34.1875,-118.603
2010-01-01,2130,5,Harbor,563,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,X,X,104.0,DRIVEWAY,IC,Invest Cont,33.737,-118.2967

In [38]:
def generateBaseMap(default_location=[34.052235, -118.243683], default_zoom_start=9):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

In [41]:
# basic map of Los Angeles
first_map = generateBaseMap()
first_map

### Map with Points

In [42]:
# m = folium.Map(
#     location=[45.372, -121.6972],
#     zoom_start=12,
#     tiles='Stamen Terrain'
# )

# tooltip = 'Click me!'

# folium.Marker([45.3288, -121.6625], popup='<i>Mt. Hood Meadows</i>', tooltip=tooltip).add_to(m)
# folium.Marker([45.3311, -121.7113], popup='<b>Timberline Lodge</b>', tooltip=tooltip).add_to(m)

# m

## Heat Map

In [31]:
from folium.plugins import HeatMap
# df_copy = df[df.month>4].copy()
# df_copy['count'] = 1
base_map = generateBaseMap()
heat = HeatMap(data=df[['latitude', 'longitude']].groupby(['latitude', 'longitude']).sum().reset_index().values.tolist(), radius=8, max_zoom=13).add_to(base_map)

In [32]:
# nothing generates?
heat

### Other Map Attempt

In [18]:
LA_COORDINATES = (34.052235, -118.243683)
 
# for speed purposes
MAX_RECORDS = 1000
  
# create empty map zoomed in on San Francisco
map = folium.Map(location=COORDINATES, zoom_start=12)
 
# add a marker for every record in the filtered data, use a clustered view
for each in clean_df[0:MAX_RECORDS].iterrows():
    map.simple_marker(location = [each[1]['longitude'],each[1]['latitude']], 
        clustered_marker = True)
  
display(map)

AttributeError: 'Map' object has no attribute 'Marker'